@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model =>model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)
  @Html.LabelFor(model => Model.LastName)
  @Html.TextBoxFor(model => Model.LastName)
  @Html.LabelFor(model => model.StylistId);
  @Html.DropDownList("StylistId");
  <input type="submit" value="Add new client" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all clients", "Index")</p>