@{
Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model =>model.first_name)
  @Html.TextBoxFor(model => model.first_name)
  @Html.LabelFor(model => Model.last_name)
  @Html.TextBoxFor(model => Model.last_name)
  @Html.LabelFor(model => model.StylistId);
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>