@{
Layout = "_Layout";
}
@using HairSalon.Models;
@model List<HairSalon.Models.Client>

  <h1>Clients</h1>

  @if (@ViewBag.Clients.Count == 0)
  {
   <h3>No Clients have been added yet!</h3>
  }

  else{
  <table>
    <tr>
      <td>
        ID
      </td>
      <td>Client Name</td>
      <td>Stylist Name</td>
    </tr>

@foreach (Client client in ViewBag.Clients)
{
<tr>
  <td>@client.ClientId</td>
  <td>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</td>

  @foreach (Stylist Stylist in ViewBag.Stylists)
  {

    @if(Stylist.StylistId == client.StylistId)
    {
    <td>@Html.ActionLink($"{@Stylist.Name}", "Details", "Stylists", new { id = client.StylistId })</td>
    }

  }

</tr>

}

</table>}

  <p>@Html.ActionLink("Add new Client", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>